html {
    margin: 0;
    padding: 0;
    width: auto;
}
#menu {
    width: 100%;
    max-height: 55px;
    height: 55px;
    background-color: #333333;
    text-align: center;
}

a {
    color: #d6d6d6;
    text-decoration: none;
}

#jsp {
    width: 100%;
    padding-top: 2px;
}

ul {
    width: 100%;
    margin-top: 20px;
}
li {
    display: inline;
    color: #d6d6d6;
    padding-left: 150px;
}

#pomme {
    padding-left: 0px;
}